.red {
  color:red;
}

.boris {
  margin-top: 10px;
}

.baba {
  font-size: 8em;
  text-decoration: underline;
  color: lime;
  background-color: blue;
  -webkit-box-shadow: 29px 36px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 29px 36px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 29px 36px 5px 0px rgba(0,0,0,0.75);
}
